table {
    width: 900px;
    height: 200px;
    padding: 10px;
}
.two {
    background-color: yellow;
}
.trid {
    background: blueviolet;
}
.fourth {
    background-color: lightgreen; 
}
.fifth {
    background-color: palevioletred;
}
.cat {
    width: 900px;
    height: 100px;
}
.dog {
    height: 300px;
}
.cow {
    height: 180px;
    padding: 15px;
}
.bee {
    height: 150px;
    padding: 15px;
}