.body{
    position: relative;
}
#header{
    position: absolute;
    width: 90%;
    height: 15%;
    background-color: rgb(154, 230, 78);
    margin: 5%;
    border-radius: 0px 0px 10px 10px;
    margin-top: -120px;
    text-align: center;
}
#menu{

    width: 10%;
    height: 600px;
    position: fixed;
    background-color: rgba(100, 148, 237, 0.514);
    margin-left: 1250px;
    z-index: 5;
}
#content{
    background-color: rgb(64, 207, 207);
    height: 600px;
    margin: 5%;
    margin-top: 200px;
}
#footer{
    position: absolute;
    width: 90%;
    height: 15%;
    background-color: rgb(154, 230, 78);
    margin: 5%;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    margin-top: -60px;
}